.manage-booking-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 92vw;

    .title-page {
        font-size: 30px;
        font-weight: 600;
    }

    .main-ms-container {


        .nav-link {
            color: black;
            border: 1px solid;

            &.active {
                color: rgb(9, 9, 222);
                border: 1px solid;
            }
        }

    }
}