.manage-student-container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .title-page {
        font-size: 30px;
        font-weight: 600;
    }

    .table-student {
        text-align: center;
    }

    td.btn {
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;

        button {
            padding: 5px 20px;
            cursor: pointer;
        }

        button.btn.btn-info {
            &:hover {
                background-color: #0ea7c5;
                ;
            }
        }

        button.btn.btn-warning {
            &:hover {
                background-color: #e4ad07;
                ;
            }
        }

        button.btn.btn-danger {
            &:hover {
                background-color: #be2d3c;
                ;
            }
        }
    }
}